version: "3.8"

services:
  web:
    build: .
    container_name: granferia_web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: granferia_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: granferia
    ports:
      - "3307:3306"