<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true">

    <testsuites>
        <testsuite name="Pruebas Unitarias La Gran Feria del Juguete">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">funciones</directory>
        </include>

        <exclude>
            <file>funciones/conexion.php</file>
            <file>funciones/login.php</file>
            <file>funciones/registro.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            </report>
    </coverage>
    </phpunit>